<% provide(:title, "Nuevo Parse Detector Type") %>
<%= render 'breadcrumbs' %>
<h1>
  Nuevo Parse Detector Type de 
  <%= @function_type.name %>
</h1>
<%= render 'form' %>
<%= link_to [:admin, @function_type, :parse_detector_types], class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
