<% if @page.images.count > 0 %>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Imagen</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @page.images.each do |image| %>
	  <tr>
	    <td><%= image.name %></td>
	    <td><%= image_tag image.image_url %></td>
	  </tr>
	<% end %>
	</table>
<% end %>