<h1>Páginas</h1>

<table class="table">
  <tr>
    <th>Permalink</th>
    <th>Título</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.permalink %></td>
    <td><%= page.title %></td>
		<td><%= render_index_actions [page] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to new_admin_page_path, class: 'btn' do %>
	<i class="icon-plus"></i> Nueva Página
<% end %>