<h1>Editar Tipos de Función</h1>

<%= render 'form' %>

<%= link_to [:admin, :function_types], class: 'btn' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>
<%= link_to [:admin, @function_type], class: 'btn' do %>
	<i class="icon-edit"></i> Mostrar
<% end %>