%h1 Tipos de Función

%table.table
	%tr
		%th Nombre
		%th>

	- @function_types.each do |function_type|
		%tr
			%td= link_to function_type.name, [:admin, function_type, :parse_detector_types]
			%td= render_index_actions [function_type], only: [:edit, :destroy]

%br

= link_to [:new, :admin, :function_type], class: 'btn' do
	%i.icon-plus
	Nuevo Function Type
