<% provide(:title, "Géneros") %>
<%= render 'breadcrumbs' %>
<h1>Géneros</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th></th>
  </tr>

<% @genres.each do |genre| %>
  <tr>
    <td><%= genre.name %></td>
		<td><%= render_index_actions [genre], only: [:edit, :destroy] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to [:new, :admin, :genre], class: 'btn btn-default' do %>
	<i class="icon-plus"></i> Nuevo Género
<% end %>