<h1 class="content-title">CARACTERISTICAS</h1>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">Horarios</div>
			<div class="panel-body">
				<%= image_tag 'app_img_showtimes.jpg' %>
			</div>
			<div class="panel-footer">
				Horarios de exhibición de todas las películas en los principales cines de Chile.
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">Cartelera</div>
			<div class="panel-body">
				<%= image_tag 'app_img_showtimes.jpg' %>
			</div>
			<div class="panel-footer">
				Horarios de exhibición de todas las películas en los principales cines de Chile.
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-warning">
			<div class="panel-heading">Horarios</div>
			<div class="panel-body">
				<%= image_tag 'app_img_showtimes.jpg' %>
			</div>
			<div class="panel-footer">
				Horarios de exhibición de todas las películas en los principales cines de Chile.
			</div>
		</div>
	</div>
</div>
