= image_tag 'facebook_background.png', {style: "margin-bottom: 20px; display: block; margin-right: auto; margin-left: auto;"}

%h1{style: "width: 800px; display: block; margin-right: auto; margin-left: auto;"}= @page.title
.page-content{style: "width: 800px; display: block; margin-right: auto; margin-left: auto;"}
	= simple_format @page.content
