#hero
	.container
		- flash.each do |name, msg|
			- if name == :notice && msg.is_a?(String)
				%div{:class => "alert alert-success"}
					%a.close{"data-dismiss" => "alert"} ×
					= content_tag :div, msg, :id => "flash_success"
					%br
					
		= render 'carousel'
					
#intro
	.container
		%h1
			Elige la película, cine, y horario que más te convenga.
			%br
			Nunca ha sido tan fácil.

= render 'features'