<fieldset class="video">
	<div class="destroy">
		<%= f.hidden_field :_destroy %>
		<button class="close remove_fields">&times;</button>
	</div>
	<%= f.input :name %>
	<%= f.input :code %>
</fieldset>