<%= render 'breadcrumbs' %>
<h1>Editar Shows</h1>

<%= render 'form' %>

<%= link_to [:admin, :shows], class: 'btn' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>
<%= link_to [:admin, @show], class: 'btn' do %>
	<i class="icon-edit"></i> Mostrar
<% end %>