<% provide(:title, 'Nuevo Show') %>
<%= render 'breadcrumbs' %>
<h1>Nuevo Show</h1>

<%= render 'form' %>

<br />

<%= link_to [:admin, :shows], class: 'btn btn-default' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>