<% content_for :title, "Sala Estrella" %>
<h1>Horarios Sala Estrella:</h1>
<table class="table">
  <% @functions.each do |function| %>
    <tr>
      <td>
        <div class="row">
          <div class="col-sm-2 imagen">
            <%= image_tag function.show.image.smallest if function.show.image.smallest %>
          </div>
          <div class="col-sm-10">
            <h3>
              <%= function.show.name if function.show %>
            </h3>
            <h4>
              <%= function.function_types.map(&:name).join(', ') %>
            </h4>
            <h4>
              <%= function.showtimes.map{ |showtime| l(showtime.time, format: :normal_time ) }.join(', ') %>
            </h4>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
