= render 'breadcrumbs'
%h1 Países

= link_to new_admin_country_path, remote: true, id: "new_link", class: 'btn' do
	%i.icon-plus
	Nuevo País

%table.table
	%tr
		%th Nombre
		%th

	- @countries.each do |country|
		%tr
			%td= link_to country.name, admin_country_cities_path(country)
			%td= render_index_actions [country], only: [:edit, :destroy]
