<% provide(:title, "Países") %>
<%= render 'breadcrumbs' %>
<h1>Países</h1>

<table class="table">
	<tr>
		<th>Nombre</th>
		<th></th>
	</tr>

<% @countries.each do |country| %>
	<tr>
		<td>
			<%= link_to country.name, [:admin, country, :cities] %>
		</td>
		<td>
			<%= render_index_actions [country], only: [:edit, :destroy] %>
		</td>
	</tr>
<% end %>
</table>

<%= link_to [:new, :admin, :country], class: 'btn btn-default' do %>
	<i class="icon-plus"></i> Nuevo País
<% end %>