<%= render 'breadcrumbs' %>
<h1>Editar Ciudad</h1>
<%= render 'form' %>
<%= link_to admin_country_cities_path(@country), class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
