<%= render 'breadcrumbs' %>
<h1>Ciudades</h1>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th></th>
  </tr>
  <% @cities.each do |city| %>
    <tr>
      <td>
        <%= link_to city.name, admin_city_theaters_path(city) %>
      </td>
      <td>
        <%= render_index_actions [city], only: [:edit, :destroy] %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to new_admin_country_city_path(@country), class: 'btn btn-default' do %>
  <i class="icon-plus"></i>
  Nueva Ciudad
<% end %>
