<% provide(:title, 'Award Categories Edit') %>
<%= render 'breadcrumbs' %>
<h1>Editar Award Categories</h1>
<%= render 'form' %>
<%= link_to admin_award_categories_path, class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
