<% provide(:title, 'Award Categories') %>
<%= render 'breadcrumbs' %>
<h1>Award Categories</h1>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th></th>
  </tr>
  <% @award_categories.each do |award_category| %>
    <tr>
      <td><%= award_category.name %></td>
      <td><%= render_index_actions [award_category], only: [:edit, :destroy] %></td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to new_admin_award_category_path, class: 'btn btn-default' do %>
  <i class="icon-plus"></i>
  Nuevo Award Category
<% end %>
