<% provide(:title, 'Award Types Edit') %>
<%= render 'breadcrumbs' %>
<h1>Editar Types Categories</h1>
<%= render 'form' %>
<%= link_to admin_award_types_path, class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
