<h1>Editar Persona</h1>

<%= render 'form' %>

<%= link_to [:admin, :people], class: 'btn' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>
<%= link_to [:admin, @person], class: 'btn' do %>
	<i class="icon-edit"></i> Mostrar
<% end %>