<%= render 'breadcrumbs' %>
<h1>Editar Persona</h1>

<%= render 'form' %>

<%= link_to [:admin, :people], class: 'btn btn-default' do %>
	<i class="icon-arrow-left"></i> Volver
<% end %>
<br />
<br />
<%= link_to [:admin, @person], class: 'btn btn-default' do %>
	<i class="icon-edit"></i> Mostrar
<% end %>