body#admin{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	background-image: image-url('content_bg.jpg');
	background-repeat: repeat;
	
	h1, h2, h3 ,h4, h5{
		font-family: 'Nunito', sans-serif;
	}
	
	table.table{
		tr{
			background-color: white;
		}
		th{
			color: white;
			background-color: #C03A2B;
		}
		.dashboard{
			font-weight: bold;
			cursor: pointer;
			text-align: center;
		}
		.dashboard:hover{
			color: white;
			background-color: #3399FF;
		}
		.no-functions{
			background-color: #FCD9D9;
		}
		.has-functions{
			background-color: white;
		}
	}
	table.table, table.table th, table.table td{
		border: 1px solid black;
	}
	.checkbox_line {
		margin-left: 40px;
	  display: block;
	}
	.pagination a.selected{
		background-color: #83afcc;
		color: black;
	}
	.letter_pagination a{
		padding: 4px 9px;
	}
}
//body#admin{
//	background-color: #f1f1e4;
//
//	table.table{
//		tr{
//			background-color: white;
//		}
//		th{
//			color: white;
//			background-color: #C03A2B;
//		}
//		.admin-td{
//			font-weight: bold;
//			cursor: pointer;
//			color: #0088cc
//		}
//		.admin-td:hover{
//			color: white;
//			background-color: #0088cc;
//		}
//	}
//	
//	select.date{
//		width: 100px;
//	}
//	
//	label.remove_label{
//		display: inline;
//	}
//	.checkbox_container label {
//		padding-left: 10px;
//		padding-right: 20px;
//	  display: inline;
//	}
//	.no-bottom-margin{
//		margin-bottom: 0px;
//	}
//	.control-group{
//		margin: 5px 0;
//		label.time{
//			display: none;
//		}
//	}
//	.show_genres{
//		width: 300px;
//	}
//	.function_function_types{
//		width: 100px;
//	}
//	select{
//		margin: 0;
//	}
//	select.time{
//		width: 80px;
//	}
//	a.add_fields{
//		margin-top: 5px;
//		display: block;
//	}
//	div.controls{
//		textarea{
//			height: 300px;
//			width: 400px;
//		}
//		input.string{
//			width: 400px;
//		}
//	}
//	fieldset.image{
//		margin-left: 100px;
//	}
//	
//	fieldset.show_person_role{
//		div.show_show_person_roles_person{
//			float: left;
//			display: inline;
//			label.select{
//				width: 100px;
//			}
//			.controls{
//				float: left;
//				margin-left: 10px;
//			}
//		}
//		div.roles{
//			height: 20px;
//			float: left;
//			display: inline;
//			margin-left: 20px;
//			margin-top: 5px;
//		}
//		div.show_show_person_roles_character{
//			float: left;
//			label{
//				width: 132px;
//			}
//			div.controls{
//				margin-left: 140px;
//			}
//		}
//	}
//	fieldset.image{
//		display: inline;
//		margin: 0;
//		label{
//			margin-left: 10px;
//			width: 130px;
//		}
//	}
//	div.destroy{
//		margin-left: 20px;
//		float: left;
//		display: inline;
//	}
//	
//	.letter_pagination a{
//		padding: 4px 9px;
//	}
//	.pagination a.selected{
//		background-color: #83afcc;
//		color: black;
//	}
//}