body#admin{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;

	.container {
		padding-bottom: 40px;

		.nomination {
			padding: 10px 0;
			border-top-color: gray;
			border-top-width: 1px;
			border-top-style: solid;
		}

		#InputShowInformation {
			height: 200px;
		}
	}

	h1, h2, h3 ,h4, h5{
		font-family: 'Nunito', sans-serif;
	}

	table.table{
		tr{
			background-color: white;
		}
		th{
			color: white;
			background-color: #C03A2B;
		}
		.dashboard{
			font-weight: bold;
			cursor: pointer;
			text-align: center;
		}
		.dashboard:hover{
			color: white;
			background-color: #3399FF;
		}
		.no-functions{
			background-color: #FCD9D9;
		}
		.has-functions{
			background-color: white;
		}
	}
	table.table, table.table th, table.table td{
		border: 1px solid black;
	}
	.checkbox_line {
		margin-left: 40px;
	  display: block;
	}
	.pagination a.selected{
		background-color: #83afcc;
		color: black;
	}
	.letter_pagination a{
		padding: 4px 9px;
	}

	/* Forms */
	#error_explanation {
	  color: #f00;
	  ul {
	    list-style: none;
	    margin: 0 0 18px 0;
	  }
	}

	fieldset.image {
		display: inline;
	}
	div.destroy {
		left: 21px;
		height: 21px;
		float: left;
	}
}
