.row.opinion{
	min-height: 175px;
	.span5{
		p.comment{
			text-align: center;
			color: red;
			font: italic normal 12px/30px Georgia, serif;
		}
		p.author{
			font: bold 12px/30px Georgia, serif;
		}
	}
}
#flash_success{
	text-align: center;
}
form#contact_form{
	.label_field{
		text-align: right;
		padding-right: 10px;
	}
}