<h1>Editar Profile</h1>
<%= render "form" %>
<br/>
<% if current_user.admin? %>
  <%= link_to [:admin, :users], class: 'btn btn-default' do %>
    <i class="icon-arrow-left"></i>
    Volver
  <% end %>
<% else %>
  <%= link_to admin_cines_path, class: 'btn btn-default' do %>
    <i class="icon-arrow-left"></i>
    Volver
  <% end %>
<% end %>
