<% provide(:title, "#{@theater.name} Parse") %>
<%= render 'breadcrumbs' %>
<h1>Nueva Función</h1>
<% if @cinema.name == "Cinemark" || @cinema.name == "Cine Hoyts" || @cinema.name == "Cinemundo" %>
  <%= render 'parse_cinemark_hoyts' %>
<% elsif @cinema.name == "Cineplanet" %>
  <%= render 'parse_cineplanet_movie' %>
<% end %>
<%= link_to admin_theater_functions_path(@theater, date: @date), class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
