<% provide(:title, "Nuevo Complejo") %>
<%= render 'breadcrumbs' %>
<h1>Nuevo Complejo</h1>
<%= render 'form' %>
<%= link_to [:admin, @theaterable, :theaters], class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
