/ starts footer
#footer
	.container
		.row#contacto
			.span8
				%h3 Contacto
				.blog_post
					.row
						.span2
							%a{:href => "blog.html"}= image_tag 'pic_contact.png', alt: 'post image'
						.span4
							.title
								Queremos conocer tu opinión
							.intro
								Cualquier problema, duda, o sugerencia, no dudes en ponerte en contacto con nosotros a través del siguiente formulario.
							/ .date
							/ 	Oct 22. 2012
			.span4.contact_us
				%h4 Todos los campos son obligatorios
				%br
				= render 'layouts/contact_form'
				
		%hr/
		.row.copyright
			.span5
				%h3 Social
				%a.social.fb{href: "https://www.facebook.com/AppCineHorarios", target: "_blank"}
					%i.i_facebook
				%a.social.tw{href: "https://twitter.com/CineHorarios", target: "_blank"}
					%i.i_twitter
			/ .span2.offset5.copy
			/ 	%p 2013 - Cine Horarios