/ begins navbar
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand.scroller{"data-section" => "body", :href => "index.html"}
				= image_tag 'logo.png', alt: 'logo'
			.nav-collapse.collapse.navbar-responsive-collapse
				%ul.nav.pull-right
					%li
						%a.scroller{"data-section" => "#features", :href => "#"} Características
					%li
						%a.scroller{"data-section" => "#footer", :href => "#"} Contacto

/ ends navbar