<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-hover="collapse" data-target="#navbar-cine-horarios">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-cine-horarios">
	    <ul class="nav navbar-nav">
	      <li>
					<%= link_to admin_cines_path do %>
						<i class="icon-home"></i>
						Cines
					<% end %>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
			  <% if current_user %>
				  <li>
				    <%= link_to current_user.email, edit_admin_user_path(current_user) %>
					</li>
					<li>
				    <%= link_to 'Cerrar Sesión', admin_session_path('current'), method: 'delete' %>
					</li>
			  <% else %>
					<li>
			    <%= link_to 'Iniciar Sesión', new_admin_session_path %>
					</li>
				<% end %>
			</ul>
	  </div>
  </div>
</nav>