<p style="float: right;">
  <% if current_user %>
    <%= current_user.email %>
    <%= link_to 'Editar Info', edit_admin_user_path(current_user) %>
    <%= link_to 'Cerrar Sesión', admin_session_path('current'), method: 'delete' %>
  <% else %>
    <%= link_to 'Iniciar Sesión', new_admin_session_path %>
  <% end %>
</p>
