
<h3><%= f.object.name unless f.object.new_record? %></h3>
<div>
<fieldset class="award_specific_category row">
	<div class="col-sm-4">
	  <div class="form-group">
			<div class="control-label">Nombre:</div>
	    <%= f.text_field :name, class: 'form-control' %>
			<div class="destroy">
				<%= f.hidden_field :_destroy %>
				<button class="close remove_fields">X</button>
			</div>
	  </div>
	  <div class="form-group">
			<div class="control-label">Categoría General:</div>
			<%= f.collection_select :award_category_id, @award_categories, :id, :name, {include_blank: true}, { class: "chzn-select, form-control" } %>
	  </div>
	</div>
	<div class="col-sm-8">
	</div>
</fieldset>
