<% provide(:title, 'Awards Edit') %>
<%= render 'breadcrumbs' %>
<h1>Editar Award</h1>
<%= render 'form' %>
<%= link_to admin_awards_path, class: 'btn btn-default' do %>
  <i class="icon-arrow-left"></i>
  Volver
<% end %>
